.jumbotron{
    background-color: rgb(222, 158, 163);
}
.InitialView{
    background-color: rgb(187, 189, 234);
    border-width: 0.5vb;
    border-color: rgb(79, 82, 145);
    margin: 1vb;
    width: 20vb;
    height: 10vb;
    color: rgb(79, 82, 145);
    font-weight: bold;
}
.showFilterOptions{
    margin: 5vb;
}
.filterOptionsView{
    background-color: rgb(193, 234, 187);
    border-width: 0.5vb;
    border-color: rgb(79, 145, 85);
    margin: 2vb;
    width: 10vb;
    height: 5vb;
    color: rgb(81, 145, 79);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    
  }
  